<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LoginPage</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/login.js" defer></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="logo">로고 들어갈 부분</div>

      <div class="login">
        <form action="/login" method="post">
          <label>유저 ID : </label><br />
          <input type="text" name="userid" id="userid" /><br />
          <label>PASSWORD : </label><br />
          <input type="text" name="password" id="password"/><br />
          <div class="checkbox">
            <label>ID 저장</label>
              <input type="checkbox" value="true" name="remember-me" id="remember-me">
          </div>
          <button class="loginButton" id="login-button" type="submit">로그인</button>
        </form>
      </div>

      <div class="join">아직 회원이 아니세요 ? <a href="">회원가입</a></div> 

      <hr>

      <div class="oauth2">
        <div style="text-align:center">SNS 간편 로그인</div>
        <div class="oauth2-buttons">
          <ul>
            <li><a href="/oauth2/authorization/kakao" class="oauth2-button kakao" title="카카오로그인"><img src="/image/kakaobutton.png"></a></li>
            <li><a href="/oauth2/authorization/naver" class="oauth2-button naver" title="네이버로그인"><img src="/image/naverbutton.png"></a></li>
            <li><a href="/oauth2/authorization/google" class="oauth2-button google" title="구글 로그인"><img src="/image/googlebutton.png"></a></li>
            <li><a href="/oauth2/authorization/instagram" class="oauth2-button instagram" title="인스타 로그인"><img src="/image/instabutton.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
