<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Planner Add</title>

    <!-- leaflet    -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <!-- Leaflet Plugins: Leaflet.KoreanTmsProviders 추가  -->
    <script src="/js/KoreanTmsProviders/lib/proj4.js"></script>
    <script src="/js/KoreanTmsProviders/lib/proj4leaflet.js"></script>
    <script src="/js/KoreanTmsProviders/src/Leaflet.KoreanTmsProviders.js"></script>

    <!-- GEOCODER   -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js" integrity="sha512-DdX/YwF5e41Ok+AI81HI8f5/5UsoxCVT9GKYZRIzpLxb8Twz4ZwPPX+jQMwMhNQ9b5+zDEefc+dcvQoPWGNZ3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <label for="all"></label>
    <input type="button" name="all" id="all" onclick="onClickAll()" value="전체">

    <label for="food">식당</label>
    <input type="checkbox" name="food" id="food" onclick="onClickFood()" checked>

    <label for="accom">숙소</label>
    <input type="checkbox" name="accom" id="accom" onclick="onClickAccom()" checked>

    <label for="place">관광지</label>
    <input type="checkbox" name="place" id="place" onclick="onClickPlace()" checked>

    <select name="citycode" id="citycode">
        <option value="nocity">도시를 선택하세요.</option>
        <option value="서울특별시">서울특별시</option>
        <option value="부산광역시">부산광역시</option>
        <option value="인천광역시">인천광역시</option>
        <option value="대구광역시">대구광역시</option>
        <option value="대전광역시">대전광역시</option>
        <option value="광주광역시">광주광역시</option>
        <option value="울산광역시">울산광역시</option>
        <option value="경기도">경기도</option>
        <option value="충청북도">충청북도</option>
        <option value="충청남도">충청남도</option>
        <option value="전라남도">전라남도</option>
        <option value="전라북도">전라북도</option>
        <option value="경상북도">경상북도</option>
        <option value="경상남도">경상남도</option>
        <option value="강원도">강원도</option>
        <option value="제주도">제주도</option>
    </select>
<!--    <select name="areacode" id="areacode">-->
<!--        <option value="noarea">도시를 먼저 선택하세요.</option>-->
<!--    </select>-->
    
    <div id="map" style="width:100%;height:80vh;"></div>

    <script th:inline="javascript">


      var check_food = document.querySelector('#food').checked;
      var check_accom = document.querySelector('#accom').checked;
      var check_place = document.querySelector('#place').checked;

      var select_citycode = document.querySelector('#citycode');
      var select_areacode = document.querySelector('#areacode');


<!-- ---------------------------------------------------------------------------------------------------------------- -->
      var accomList = JSON.parse([[${accomList}]]);
      var foodList = JSON.parse([[${foodList}]]);

      // 지도 기본타일 적용
       var map = new L.Map('map', {
            center: new L.LatLng(35.22056346726476,126.85320496487589),
            zoom: 11,
            crs: L.Proj.CRS.Daum,
            worldCopyJump: false,
            minZoom: 8,
            maxZoom: 13,
      });
      var center = map.getCenter();
      var zoomLevel = 11;
      var baseLayers = L.tileLayer.koreaProvider('DaumMap.Street').addTo(map);
      var markers = L.layerGroup().addTo(map);

    // 숙소 아이콘 설정
    var AccomIcon = L.icon({
        iconUrl: '/image/accom.png',
        iconSize: [40, 40],
        iconAnchor: [20, 0],
        popupAnchor: [0, 0],
    });
    // 식당 아이콘 설정
    var FoodIcon = L.icon({
        iconUrl: '/image/food.png',
        iconSize: [30, 30],
        iconAnchor: [20, 0],
        popupAnchor: [0, 0],
    });


    // 리스트로 받아온 데이터들 모두 마커를 생성 , 툴팁, 팝업창 생성 및 클릭이벤트 작성
    accomList.forEach((el)=>{
        console.log(el);
        // 마커 생성
        var centerMarker = L.marker([el.yCoordinate,el.xCoordinate],{icon: AccomIcon}).addTo(markers);

        // 팝업 생성
        centerMarker.bindPopup(`<div style="width:200px;height:200px;background-color:white">
            ${el.businessName} </br>
            ${el.businessCategory} </br>
            ${el.streetFullAddress}
        </div>`);

        // 팝업 이벤트
        centerMarker.on('click', function(e) {
            this.openPopup();
        })
        centerMarker.on('mouseout', function(e) {
            this.closePopup();
        })
    });

    foodList.forEach((el)=>{
        // 마커 생성
        var centerMarker = L.marker([el.yCoordinate,el.xCoordinate],{icon: FoodIcon}).addTo(markers);

        // 팝업 생성
        centerMarker.bindPopup(`<div style="width:200px;height:200px;background-color:white">
            ${el.businessName} </br>
            ${el.businessCategory} </br>
            ${el.streetFullAddress} </br>
            <button class="addDestination">
                플래너에 추가
            </button>
        </div>`);

        // 팝업 이벤트
        centerMarker.on('mouseover', function(e) {
            this.openPopup();
        })
        centerMarker.on('mouseout', function(e) {
            this.closePopup();
        })
    });



    function mapRender(center,zoomLevel) {
        datas = {
            action: 'mapRender',  // 어떤 동작인지 알려주는 값
            latitude: center.lat, // 위도
            longitude: center.lng, // 경도
            zoomlevel: zoomLevel
        }
        let cnt = 0
        axios.post('/planner/makePlanner', datas, {
          headers: {
            'Content-Type': 'application/json',
          }
        })
              .then(resp=>{
                markers.clearLayers();
                foodList = JSON.parse(resp.data.foodList);

                if(check_food) {
                    foodList.forEach((el)=>{
                        // 마커 생성
                        var centerMarker = L.marker([el.yCoordinate,el.xCoordinate],{icon: FoodIcon}).addTo(markers);



                        // 팝업 생성
                        const popupEl =
                        `<div style="width:200px;height:200px;background-color:white">
                            ${el.businessName} </br>
                            ${el.businessCategory} </br>
                            ${el.streetFullAddress} </br>
                            <button  data-id=${cnt++} class="addDestination">
                                플래너에 추가
                            </button>
                        </div>`


                        centerMarker.bindPopup(popupEl);
                        // 팝업 이벤트
                        centerMarker.on('mouseover', function(e) {

                            this.openPopup();

                            console.log(this._popup._contentNode)

                            const button =  this._popup._contentNode.querySelector('.addDestination');
                            console.log(button)
                            button.addEventListener('click',function(){
                               console.log('button tag clicked..')
                            });

                        })
                        centerMarker.on('click', function(e) {

                            this.openPopup();

                            console.log(this._popup._contentNode)

                            const button =  this._popup._contentNode.querySelector('.addDestination');
                            console.log(button)
                            button.addEventListener('click',function(){
                               console.log('button tag clicked..')
                            });


                        })
                        map.on('click', function(e) {
                            this.closePopup();
                        })



                    });
                }

                accomList = JSON.parse(resp.data.accomList);
                if(check_accom) {
                    accomList.forEach((el)=>{
                        // 마커 생성
                        var centerMarker = L.marker([el.yCoordinate,el.xCoordinate],{icon: AccomIcon}).addTo(markers);
                        // 팝업 생성
                        centerMarker.bindPopup(`<div style="width:200px;height:200px;background-color:white">
                            ${el.businessName} </br>
                            ${el.businessCategory} </br>
                            ${el.streetFullAddress}
                        </div>`);
                        // 팝업 이벤트
                        centerMarker.on('mouseover', function(e) {
                            this.openPopup();
                        })
                        centerMarker.on('mouseout', function(e) {
                            this.closePopup();
                        })
                    });
                }

                //
              })
              .catch(err=>{console.log(err);});
    }




      // ZOOM 이벤트
      map.on('zoom', function(zoom) {
        center = map.getCenter(); // 현재 지도 중심 좌표를 가져옵니다.
        zoomLevel = zoom.target._zoom;

        mapRender(center,zoomLevel);


        const addDestinationEls = document.querySelectorAll('.addDestination');
        console.log(addDestinationEls.size());
        addDestinationEls.forEach(addDestination=>{
            console.log(addDestination)
        })


      });

      // 드래그 이벤트
      map.on('dragend', function(e) {
        center = map.getCenter();
        zoomLevel = e.target._zoom;

        mapRender(center,zoomLevel);
      })

      function onClickAll() {
        document.querySelector('#food').checked = true;
        document.querySelector('#accom').checked = true;
        document.querySelector('#place').checked = true;

        mapRender(center,zoomLevel);
      }

      function onClickFood() {
        if(check_food) {
            check_food = false;
        } else {
            check_food = true;
        }
        mapRender(center,zoomLevel);
      }
      function onClickAccom() {
        if(check_accom) {
            check_accom = false;
        } else {
            check_accom = true;
        }
        mapRender(center,zoomLevel);
      }
      function onClickPlace() {
        if(check_place) {
            check_place = false;
        } else {
            check_place = true;
        }
        mapRender(center,zoomLevel);
      }

      var areaOptions = {
        seoul: ['종로구','중구','용산구','성동구','광진구','동대문구','중랑구','성북구','강북구','도봉구','노원구','은평구','서대문구','마포구','양천구','강서구','구로구','금천구','영등포구','동작구','관악구','서초구','강남구','송파구','강동구'],
        busan: ['중구','서구','동구','영도구','부산진구','동래구','남구','북구','해운대구','사하구','금정구','강서구','연제구','수영구','사상수','기장군'],
        incheon: ['광화군','옹진군','중구','동구','미추홀구','연수구','남동구','부평구','계양구','서구'],
        daegu: ['중구','동구','서구','남구','북구','수성구','달서구','달성군','군위군'],
        daejeon: ['동구','중구','서구','유성구','대덕구'],
        gwangju: ['동구','서구','남구','북구','광산구'],
        ulsan: ['중구','남구','동구','북구'],
        gyeonggi: ['수원','고양','용인','성남','부천','화성','안산','남양주','안양','평택','시흥','파주','의정부','김포','광주','광명','군포','하남','오산','양주','이천','구리','안성','포천','의왕','양평군','여주','동두천','과천','가평군','연천군'],
        chungbuk: ['청주','충주','제천'],
        chungnam: ['천안','공주','보령','아산','서산','논산','계룡','당진'],
        jeonnam: ['목포','여수','순천','나주','광양'],
        jeonbuk: ['전주','군산','익산','정읍','남원','김제'],
        gyeongbuk: ['포항','경주','김천','안동','구미','영주','영천','상주','문경','경산'],
        gyeongnam: ['창원','진주','통영','사천','김해','밀양','거제','양산'],
        gangwon: ['춘천','원주','강릉','동해','태백','속초','삼척'],
        jeju: ['제주','서귀포'],
      }

    select_citycode.addEventListener('change', function() {
        var cityOption = select_citycode.options[select_citycode.selectedIndex].innerHTML;
        var areaOption;
        switch(cityOption) {
            case '서울특별시' :
                areaOption = areaOptions.seoul;
                break;
            case '부산광역시' :
                areaOption = areaOptions.busan;
                break;
            case '대구광역시' :
                areaOption = areaOptions.daegu;
                break;
            case '인천광역시' :
                areaOption = areaOptions.incheon;
                break;
            case '광주광역시' :
                areaOption = areaOptions.gwangju;
                break;
            case '대전광역시' :
                areaOption = areaOptions.daejeon;
                break;
            case '울산광역시' :
                areaOption = areaOptions.ulsan;
                break;
            case '경기도' :
                areaOption = areaOptions.gyeonggi;
                break;
            case '충청북도' :
                areaOption = areaOptions.chungbuk;
                break;
            case '충청남도' :
                areaOption = areaOptions.chungnam;
                break;
            case '전라남도' :
                areaOption = areaOptions.jeonnam;
                break;
            case '전라북도' :
                areaOption = areaOptions.jeonbuk;
                break;
            case '경상남도' :
                areaOption = areaOptions.gyeongnam;
                break;
            case '경상북도' :
                areaOption = areaOptions.gyeongbuk;
                break;
            case '강원도' :
                areaOption = areaOptions.gangwon;
                break;
            case '제주도' :
                areaOption = areaOptions.jeju;
                break;
            default :
                areaOption = ['도시를 먼저 선택하세요'];
                break;
        }
            select_areacode.length = 0;
            for(var i=0; i<areaOption.length; i++) {
                var option = document.createElement('option');
                option.innerText = areaOption[i];
                select_areacode.appendChild(option);
            }

            select_areacode.addEventListener('change', function() {

            });

      });

    </script>
</body>
</html>